.container
  %h3 Ключ наблюдения
  #form_dts
  #dts_params{ observationDate: Time.now.utc.strftime("%Y-%m-%d").to_json, stations: @stations.to_json}
  = javascript_pack_tag 'synoptic_data/get_date_term_station'