-#= @winds.inspect
.container
  #root
  #init-params{ wind: @wind_monthly_data.to_json, stationId: @station_id.to_json, year: @year.to_json, month: @month.to_json}
  = javascript_pack_tag 'heat_donbass/wind_monthly'
