.container
  #form_and_last_telegrams
  #input_params{telegrams: @telegrams.to_json, currDate: Time.now.utc.strftime("%Y-%m-%d").to_json, tlgType: 'storm'.to_json, stations: @stations.to_json, inputMode: @input_mode.to_json}
  = javascript_pack_tag 'input_telegrams/input_telegrams'