%div{ class:"container"}
  %h3 Поиск штормовых телеграмм
  #form_and_result
  #search_params{ telegrams: @telegrams.to_json, stations: @stations.to_json, dateFrom: @date_from.to_json, dateTo: @date_to.to_json, tlgType: 'storm'.to_json }
  = javascript_pack_tag 'search_telegrams/search_synoptic_telegrams'