%footer{class:"footer"}>
  %small
    - if current_user.present? and current_user.role != 'specialist'
      <a href="https://donetskmeteo.ru/">УГМС по ДНР</a> 
  %nav
    %ul
      %a{ href: "http://news.railstutorial.org/"}News