%li= link_to 'Поиск синоптических телеграмм',  search_synoptic_telegrams_path
%li= link_to 'Поиск штормовых телеграмм',  '/storm_observations/search_storm_telegrams'
%li= link_to 'Поиск агро телеграмм',  '/agro_observations/search_agro_telegrams'
%li= link_to 'Поиск декадных агро телеграмм',  '/agro_dec_observations/search_agro_dec_telegrams'