<a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
%ul{class: "dropdown-menu"}
  %li= link_to 'Тепло Донбасса',  synoptic_observations_heat_donbass_show_path
  %li= link_to 'Теплоэнерго', synoptic_observations_teploenergo_path
  %li= link_to 'Средняя температура за сутки', synoptic_observations_daily_avg_temp_path
  %li= link_to 'Средняя температура за месяц', synoptic_observations_month_avg_temp_path
  